<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>后台管理中心起始页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="_CSS_/adminStyle.css" rel="stylesheet" type="text/css" />
<style>html,body{width:100%;height:100%;}</style>
<script src="_JS_/jquery.js"></script>
<!--<script src="_JS_/eject.js"></script>-->
<script src="_JS_/public.js"></script>
</head>
<body>
<div class="wrap start-page">
 <h5>欢迎使用博客后台管理系统</h5>
</div>
</body>
</html>